.image-rct-component {
  max-width: 100%; }
  .image-rct-component img {
    max-width: 50%;
    max-height: 200px; }

.image-rct-component.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }
  .image-rct-component.modal-open img {
    max-width: 100vw;
    max-height: 100vh; }
