@mixin container {
  display: flex;
  flex-direction: column;
}

@mixin comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

@mixin text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 18px 0px 0px 10px;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

@mixin text {
  font-size: 1em;
  word-wrap: break-word;
}

@mixin reacts-component {
  position: relative;
  left: 8px;
}

@mixin react-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin new-comment {
  display: flex;
  flex-direction: column;
}
