.profile-rct-component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 6px; }
  .profile-rct-component .user-summary-container {
    cursor: pointer; }
  .profile-rct-component .button-container {
    position: relative; }
    .profile-rct-component .button-container .alert-icon {
      position: absolute;
      top: -8px;
      right: -8px;
      background-color: red;
      height: 16px;
      width: 16px;
      color: white;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%; }
  .profile-rct-component img {
    height: 40px;
    width: 40px; }
