@import 'src/styles/_index';

.replies-rct-component {
  padding-left: 20px;
  display: flex;
  flex-direction: column;

  .show-replies {
    cursor: pointer;
    position: relative;
    top: -15px;
    left: 20px;
    @include small-clickable;
    width: 80%;
  }


  .reply-container {
    @include container;
    // width: 100%;
    position: relative;
    .report-content-button-rct-component.reply, .delete-content-button-rct-component.reply  {
      position: absolute;
      top: 0px;
      height: 0px;
      right: 4px;
    }

    .reply {
      @include comment;

      .reply-text-container {
        @include text-container;
        .reply-text {
          @include text;
        }
        .reacts-rct-component {
          @include reacts-component;
        }
      }
    }

    .reply-react-container {
      margin-top: 4px;
      padding-bottom: 8px;
      @include react-container;
    }

    .new-reply {
      @include new-comment;
    }
  }

  .reply-input-container {
    margin-bottom: 10px;
    margin-top: 10px;
    .reply-input{


    }
  }
}
