@import 'src/styles/_index';

.replies-rct-component {
  padding-left: 20px;
  display: flex;
  flex-direction: column;

  .show-replies {
    cursor: pointer;
    position: relative;
    top: -15px;
    left: 20px;
    @include small-clickable;

  }

  .reply-container {
    @include container;
    // width: 100%;

    .reply {
      @include comment;

      .reply-text-container {
        @include text-container;
        .reply-text {
          @include text;
        }
        .reacts-rct-component {
          @include reacts-component;
        }
      }
    }

    .reply-react-container {
      @include react-container;
    }

    .new-reply {
      @include new-comment;
    }
  }

  .reply-input-container {
    .reply-input{


    }
  }
}
