.post-rct-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #fff; }
  .post-rct-component h2 {
    padding: 0px 0px 0px 8px; }
  .post-rct-component .report-content-button-rct-component.post, .post-rct-component .delete-content-button-rct-component.post {
    position: absolute;
    float: right;
    top: 10px;
    height: 0px;
    right: 10px; }
