@import 'src/styles/_index';

.user-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px 0px 0px;
  border-radius: 20px;
  position: relative;
  max-width: 90%;

  .text {
   padding: 0px 0px 0px 8px;
  }
  img {
   height: 35px;
   width: 35px;
   border-radius: 50%;
  }

  .gear {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 0px;
    left: 32px;
  }

  &.white {
    position: relative;
    // pointer-events: none;
  }

  &.smallName {
    padding: 0px;
    position: relative;
    align-items: flex-start;
    .text {
      position: absolute;
      top: 0px;
      width: 300px;
      // width: 100%;
      left: 38px;
      @include small-grey;
      display: flex;
      flex-direction: row;
      p {
        margin-right: 5px;
      }
    }
  }
}

.user-summary.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
  border-radius: 0;
  .text {
    position: absolute;
    top: 8px;
    left: 0;
    color: white;
    font-size: 22px;

    .readable-timestamp-rct-component {
      display: none;
    }
  }

  img {
    max-width: 100vw;
    max-height: 100vh;
    height: auto;
    width: auto;
    border-radius: 0;
  }
}
