.user-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px 0px 0px;
  border-radius: 20px;
  position: relative;
  max-width: 90%; }
  .user-summary .text {
    padding: 0px 0px 0px 8px; }
  .user-summary img {
    height: 35px;
    width: 35px;
    border-radius: 50%; }
  .user-summary .gear {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 0px;
    left: 32px; }
  .user-summary.white {
    position: relative; }
  .user-summary.smallName {
    padding: 0px;
    position: relative;
    align-items: flex-start; }
    .user-summary.smallName .text {
      position: absolute;
      top: 0px;
      width: 300px;
      left: 38px;
      color: grey;
      font-size: .8em;
      display: flex;
      flex-direction: row; }
      .user-summary.smallName .text p {
        margin-right: 5px; }

.user-summary.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
  border-radius: 0; }
  .user-summary.modal-open .text {
    position: absolute;
    top: 8px;
    left: 0;
    color: white;
    font-size: 22px; }
    .user-summary.modal-open .text .readable-timestamp-rct-component {
      display: none; }
  .user-summary.modal-open img {
    max-width: 100vw;
    max-height: 100vh;
    height: auto;
    width: auto;
    border-radius: 0; }
