// @import 'src/styles/_index';

.reports-rct-component {
  .home-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20px;
  }
  
  .new {
    background-color: rgba(173,216,230,0.5);
  }

  .highlight {
    border-color: blue;
    background-color: lightblue;
  }

  .no-reports {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;

    p {
      font-style: italic;
      color: grey;
    }
  }
}
