@import 'src/styles/_index';

.main-menu {
  display: flex;
  flex-direction: column;
  .details {
    display: flex;
    flex-direction: column;

  }
  .more-info {
    margin-top: 20px;
    p {
      color: $action-link;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .back-button {
    margin-bottom: 20px;
    p {
      color: $action-link;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .home-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20px;
  }
}
