.main-menu {
  display: flex;
  flex-direction: column; }
  .main-menu .details {
    display: flex;
    flex-direction: column; }
  .main-menu .more-info {
    margin-top: 20px; }
    .main-menu .more-info p {
      color: #075ed4;
      text-decoration: underline;
      cursor: pointer; }
  .main-menu .code-text {
    margin: 20px 0px; }
  .main-menu .back-button {
    margin-bottom: 20px; }
    .main-menu .back-button p {
      color: #075ed4;
      text-decoration: underline;
      cursor: pointer; }
  .main-menu .home-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20px; }
