// @import 'src/styles/_index';

.new-post-rct-component {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  .new-post-input {
    max-width: 620px;
    width: 100%;
    textarea {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
