// @import 'src/styles/_index';

.expanding-text-input-rct-component {
  .expanding-text-input {

    width: 360px;
    border-radius: 12px;
    border: 1px solid lightgrey;
    padding: 5px 12px 5px 16px;
    outline: none;

    @media (max-width: 600px) {
      width: 70vw;
    }
  }

}
