.expanding-text-input-rct-component .expanding-text-input {
  width: 360px;
  border-radius: 12px;
  border: 1px solid lightgrey;
  padding: 5px 12px 5px 16px;
  outline: none; }
  @media (max-width: 600px) {
    .expanding-text-input-rct-component .expanding-text-input {
      width: 75vw; } }

.expanding-text-input-rct-component.post {
  width: 100%; }
  .expanding-text-input-rct-component.post .expanding-text-input {
    width: 588px; }
    @media (max-width: 600px) {
      .expanding-text-input-rct-component.post .expanding-text-input {
        width: 90vw; } }
