@import 'src/styles/_index';

.link-preview-text-rct-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.1;

  h2 {
    white-space: pre-line;
    font-weight: lighter;
  }
  
  .comment-text {
    @include text;
    white-space: pre-line;
  }
  .microlink {
  }
}
