@import 'src/styles/_index';

.link-preview-text-rct-component {
  display: flex;
  flex-direction: column;
  width: 100%;

  h3 {
    white-space: pre-line;
  }
  
  .comment-text {
    @include text;
    white-space: pre-line;
  }
  .microlink {
  }
}
