.comments-rct-component {
  padding-left: 20px;
  display: flex;
  flex-direction: column; }
  .comments-rct-component .comment-container {
    display: flex;
    flex-direction: column; }
    .comments-rct-component .comment-container .comment {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative; }
      .comments-rct-component .comment-container .comment .comment-text-container {
        position: relative;
        display: flex;
        flex-direction: row;
        margin: 18px 0px 0px 10px;
        align-items: center;
        justify-content: flex-start; }
        .comments-rct-component .comment-container .comment .comment-text-container .comment-text {
          font-size: 1em;
          word-wrap: break-word; }
        .comments-rct-component .comment-container .comment .comment-text-container .reacts-rct-component {
          position: relative;
          left: 8px; }
    .comments-rct-component .comment-container .comment-react-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
    .comments-rct-component .comment-container .new-comment {
      display: flex;
      flex-direction: column; }
