@import 'src/styles/_index';

.comments-rct-component {
  padding-left: 20px;
  display: flex;
  flex-direction: column;

  .comment-container {
    @include container;

    .comment {
      @include comment;
      .comment-text-container {
        @include text-container;
        .comment-text {
          @include text;
        }

        .reacts-rct-component {
          @include reacts-component;
        }
      }
    }

    .comment-react-container {
      @include react-container;
    }

    .new-comment {
      @include new-comment;
    }
  }
}
