@import 'src/styles/_index';

.comments-rct-component {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  .show-comments {
    cursor: pointer;
    position: relative;
    top: -23.5px;
    left: 40px;
    @include small-clickable;
    width: 50%;
  }

  .comment-container {
    @include container;
    position: relative;

    .report-content-button-rct-component.comment, .delete-content-button-rct-component.comment {
      position: absolute;
      top: 0px;
      height: 0px;
      right: 4px;
    }

    .comment {
      @include comment;
      
      .comment-text-container {
        @include text-container;
        .comment-text {
          @include text;
        }

        .reacts-rct-component {
          @include reacts-component;
        }
      }
    }

    .comment-react-container {
      margin-top: 4px;
      @include react-container;
    }

    .new-comment {
      @include new-comment;
    }
  }
}
