@import 'src/styles/_index';

.comments-rct-component {
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  .comment-container {
    @include container;

    .report-content-button-rct-component.comment {
      position: relative;
      bottom: -12px;
      height: 0px;
      left: 90px;
    }

    .comment {
      @include comment;
      .comment-text-container {
        @include text-container;
        .comment-text {
          @include text;
        }

        .reacts-rct-component {
          @include reacts-component;
        }
      }
    }

    .comment-react-container {
      margin-top: 4px;
      @include react-container;
    }

    .new-comment {
      @include new-comment;
    }
  }
}
