.comments-rct-component {
  padding-top: 10px;
  display: flex;
  flex-direction: column; }
  .comments-rct-component .show-comments {
    cursor: pointer;
    position: relative;
    top: -23.5px;
    left: 40px;
    color: #075ed4;
    font-size: .8em;
    width: 50%; }
  .comments-rct-component .comment-container {
    display: flex;
    flex-direction: column;
    position: relative; }
    .comments-rct-component .comment-container .report-content-button-rct-component.comment, .comments-rct-component .comment-container .delete-content-button-rct-component.comment {
      position: absolute;
      top: 0px;
      height: 0px;
      right: 4px; }
    .comments-rct-component .comment-container .comment {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      position: relative; }
      .comments-rct-component .comment-container .comment .comment-text-container {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 18px 0px 0px 10px;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: hidden; }
        .comments-rct-component .comment-container .comment .comment-text-container .comment-text {
          font-size: 1em;
          word-wrap: break-word; }
        .comments-rct-component .comment-container .comment .comment-text-container .reacts-rct-component {
          position: relative;
          left: 8px; }
    .comments-rct-component .comment-container .comment-react-container {
      margin-top: 4px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
    .comments-rct-component .comment-container .new-comment {
      display: flex;
      flex-direction: column; }
