@import 'src/styles/_index';

.notifications-rct-component {
  display: flex;
  flex-direction: column;
  .notification {
    display: flex;
    flex-direction: row;
    .action-link {
      text-decoration: underline;
      color: $action-link;
      cursor: pointer;
    }
    &.new {
      background-color: rgba(173,216,230,0.5);
    }
  }

  .no-notifications {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;

    p {
      font-style: italic;
      color: grey;
    }
  }

  .home-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20px;
  }
}
