@import 'src/styles/_index';

.notifications-rct-component {
  .notification {
    display: flex;
    flex-direction: row;
    p {
      color: lightblue;
    }
    .new {
      background-color: rgba(173,216,230,0.5);
    }
  }
}
