.notifications-rct-component .notification {
  display: flex;
  flex-direction: row; }
  .notifications-rct-component .notification p {
    color: lightblue; }
  .notifications-rct-component .notification .new {
    background-color: rgba(173, 216, 230, 0.5); }
