.posts {
  display: flex;
  flex-direction: column;
}

.post {
  border: 1px solid brown;
}

.comments {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  flex-direction: column;
}

.replies {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
