@import 'src/styles/_index';

.react-carousel-container {
  position: relative;
  cursor: pointer;
  z-index: 10;
  pointer-events: none;

  .react-button {
    position: relative;
    display: inline-block;
    @include small-clickable;
    margin: 0px 6px 0px 0px;
    pointer-events: all;

  }

  .react-carousel {
    height: 0px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    background: white;
    width: 180px;
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 8px;
    transition: height 150ms, padding 150ms;
    pointer-events: all;

    .react-container {
      width: 27px;
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      font-size: 1.5em;
      padding: 0px;
      margin: 0px 1px;
      cursor: pointer;
      transition: font-size 150ms;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p:hover {
      border-left: 1px;
      border-right: 1px;
      border-color: black;
      font-size: 1.8em;
    }

    &.open {
      height: 30px;
      padding: 2px 0px 1px 8px;
      border-radius: 50px;
      border: 1px solid lightgrey;
    }
  }

  &.comment {



  }
}
